.cart {
    width: 400px;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #fff9e6;
    border: 2px solid #193d10;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    justify-content: center;
    h1{
        font-size: 1.8rem;
        color: #323754;
        margin-top: 0;
        text-align: center;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .cartItem{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0; 
        .itemImage{
            display: flex;
            flex-direction:row;
                img{
                    height: 100%;
                    width: 100%;
                    max-width: 90px;
                    margin-right: 20px;
                    border-radius: 50%;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                }
                img:hover{
                    transform: scale(1.1);
                }
                .itemDetail{
                    text-align: left;
                    color: #777;
                    font-size: 0.5em;
                    font-weight:bold;
                    width: 150px;
                }    
        }
        .itemName{
            flex: 1;
            display: inline;
            p{
                font-size: 0.9rem;
                color: #777;
                margin: 5px;
            } 
        }
        h3{
            display: inline;
            color: #323754;
        }
        .buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            p{
                font-size: 1.1rem;
                margin: 5px;
            } 
            button {
                background-color: #a9c492;
                border: 0px;
                color: white;
                padding: 8px 15px;
                border-radius: 20px;
                cursor: pointer;
                font-size: 1rem;
              
            }
            button:hover {
                background-color: #859a72;
            }
        }
        .quantity {
            display: flex;
            flex-direction: row;
            margin-left: 15px;
            font-size: 1.1rem;
        }
    }
    .total {
        font-family:sans-serif;
        font-size: 1.2rem;
        margin: 20px 0;
        text-align: right;
        color: #323754;
        font-weight:bold;
    }
    .sendOrder{
        background-color: #a87777;
        border: none;
        color: white;
        padding: 10px 50px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 1.2rem;
    }
  }

