.Items{
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        .card{
          width: 300px;
          height: 350px;
          margin: 30px;
          background-color: #fff9e6;
          border: 2px solid #193d10;
          border-radius: 20px;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          .title{
            margin-top: 10%;
            p{
              width: 80%;
          }
          }
          .image{
            display: grid;
            height: 100%; 
            width: 100%;
            max-width: 90px;
            border-radius: 50%;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            justify-content: end;
            align-items: center;  
            p{
              text-align: left;
            }      
          }    
          p{
              text-align: center;
              color: #777;
              font-size: 0.7em;
              font-weight:bold;
              width: 150px;
          }
          button{
            justify-self: center;
            width: 50%;
            cursor: pointer;
            font-size: 1.0rem;
            margin: 10px;
          }
        }
        .pageChange{
          font-size: 25px;
          height: 100px;
          width: 100%;
          button{
            background-color: #c8debc;
            border: 0;
            padding: 2px 25px;
            font-size: 25px;
            margin: 5px;
            border-radius: 40%;
            cursor: pointer;
          }
          button:hover {
            background-color: #90c077;
            color: black;
          }
        }
      }
      .image-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;
        .modal-content {
          position: relative;
          img {
            height: 100vh;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          }
          .modal-content .close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            color: white;
            cursor: pointer;
          }
        }
    }

  }
  
  
  
  
  
  
  