.showProduct{
    background-color: #cecbc4;
    display: flex;
    justify-content: center;
    width: 65%;
    height: 830px;
    float: left;
    position: relative;
    .phone{
        margin-top: 50px;
        position: absolute;
        z-index: 1;
    }
    .case{
        margin-top: 50px;
        position: absolute;
        z-index: 3;
    }
    .lensRing{
        margin-top: 50px;
        position: absolute;
        z-index: 4;
    }
    .sideButton{
        margin-top: 50px;
        position: absolute;
        z-index: 2;
    }
    .magsafe{
        margin-top: 50px;
        position: absolute;
        z-index: 5;
    }
    .lanyard{
        margin-top: 50px;
        position: absolute;
        z-index: 2;
    }

}
.productSelect{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 35%;
    float: right;
    display: flex;
    flex-direction:column;
    align-items:center;
    .select{
        width: 60%;
        height: 40px;
        border-radius: 4px;
        margin: 10px;
        padding: 10px;
        font-size: 16px;
    }
    .optionTitle{
        width: 60%;
        text-align:left;
        font-weight:bold;
        font-size: 14px;
    }
    .productDetail{
        font-size: 13px;
        background: #dddddd4d;
        border-radius: 10px;
        margin-top: 50px;
        padding: 0 9px 6px 9px;
        color: #4f4242;
        font-weight: 600;
        box-shadow: 0 0 4px 0 #999;
        position: relative;
    }
    .sendToCart{
        margin: 10px 0 0 0;
        width: 60%;
        font-size: 20px;
        height: 50px;
        background: #c1272d;
        color: #ffffffe3;
        cursor: pointer;
    }
}

@media screen and (max-width: 900px){
    .custom{
        display: flex;
        flex-direction: column;
        .showProduct{
            width: 100%;
            height: 600px;
            img{
                margin-top: 30px;
                width: 200px;
            };
        }
        .productSelect{
            margin-top: auto;
            width: 100%;
        }
    }
}