
.header{
  background: rgb(205, 196, 188);
  width: 100%;
}
.titleLogo {
  height: 40px;
  align-items:start;
}
.content{
  width: 100%;
  justify-content: center;
  text-align: center;
}
.box{
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  
}
.boxRight{
  display: inline-grid;
  grid-template-columns: 50% 50%;  
  }

.footer{
  text-align: center;
  padding: 20px 0px;
  color: #555;
  background: #7a7a7a8c;
  margin-bottom: 0px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}
