.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  background: #cf6a12;
  width: 100%;
}

.svg{
  
  fill: #e9964e;
}

.titleLogo {
  height: 60px;
  align-items:start;
}
.content{
  width: 100%;
  justify-content: center;
  text-align: center;
}
.box{
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  
}
.boxRight{
  display: inline-grid;
  grid-template-columns: 50% 50%;  
  }

.footer{
  text-align: center;
  padding: 20px 0px;
  color: #555;
  background: #7a7a7a8c;
  margin-top: auto;
  margin-bottom: 0px;
}
