.list{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  .card{
    width: 300px;
    height: 300px;
    margin: 30px;
    background-color: #fff9e6;
    border: 2px solid #193d10;
    border-radius: 20px;
    .name{
      display: grid;
      align-items:end;
      width: 300px;
      height: 250px;
      .image.zoomed {
        transform: scale(2);
        z-index: 10;
        position: relative;
      }
      .image{
        display: flex;
        flex-direction:row;
        img{
            height: 100%; 
            width: 100%;
            max-width: 90px;
            margin: 20px;
            border-radius: 50%;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
        img:hover{
            transform: scale(1.1);
        }
        p{
            text-align: left;
            color: #777;
            font-size: 0.5em;
            font-weight:bold;
            width: 150px;
        }  
        .title{
          font-size: 1.0rem
        }
      }
      button{
        justify-self: center;
        width: 50%;
        background-color: #a25d25;
        color: white;
        padding: 10px 30px;
        border-radius: 20px;  
        cursor: pointer;
        font-size: 1.0rem;
      }
    }
  }
  .pageChange{
    font-size: 25px;
    height: 100px;
    width: 100%;
    button{
      background-color: #e2c8c8;
      border: 0;
      padding: 2px 25px;
      font-size: 30px;
      margin: 5px;
      border-radius: 45%;
      cursor: pointer;
    }
    button:hover {
      background-color: #a07970;
      color: black;
    }
  }
}
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  .modal-content {
    position: relative;
    img {
      height: 100vh;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .modal-content .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      color: white;
      cursor: pointer;
    }
  }
}






