.list{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  .card{
    width: 300px;
    height: 300px;
    margin: 30px;
    background-color: #fff9e6;
    border: 2px solid #193d10;
    border-radius: 20px;
    .name{
      display: grid;
      align-items:end;
      width: 300px;
      height: 250px;
      .image{
        display: flex;
        flex-direction:row;
        img{
            height: 100%; 
            width: 100%;
            max-width: 90px;
            margin: 20px;
            border-radius: 50%;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
        img:hover{
            transform: scale(1.1);
        }
        p{
            text-align: left;
            color: #777;
            font-size: 0.5em;
            font-weight:bold;
            width: 150px;
        }  
        .title{
          font-size: 1.0rem
        }
      }
      button{
        justify-self: center;
        width: 50%;
        background-color: #a25d25;
        color: white;
        padding: 10px 30px;
        border-radius: 20px;  
        cursor: pointer;
        font-size: 1.0rem;
      }
    }
  }
  .pageChange{
    height: 100px;
  }
}
